// Place all the styles related to the Destinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_destination {
  input,textarea {
    width: 25%;
    margin-bottom: 1%;
  }
  margin-left: 5%;
}

input,textarea {
	width:40%;
}